.ce-tabs {
    & > .ce-header {
        padding: var(--ce-wrapper-padding-y) var(--ce-wrapper-padding-x);
    }

    .r-tabs {
        &__link {
            padding: var(--ce-wrapper-padding-y) var(--ce-wrapper-padding-x);
        }

        &__content {
            padding: var(--ce-wrapper-padding-y) var(--ce-wrapper-padding-x);
        }
    }
}
