@use "../../../styles/variables.scss";

.t3-ce-table {
    $viewport-z-index: 0;

    &__container {
        position: relative;
    }

    &__viewport {
        overflow-x: auto;
        position: relative;
        z-index: $viewport-z-index;
    }

    @mixin table-overlay($side) {
        content: "";
        top: 0;
        position: absolute;
        width: 4rem;
        height: 100%;
        background: linear-gradient(
            to $side,
            rgb(255 255 255 / 0%) 0%,
            variables.$color-background 100%
        );
        transition: opacity 1s;
        opacity: 0;
        z-index: $viewport-z-index + 1;
    }

    &__overlay-left {
        @include table-overlay(left);

        left: 0;

        &--visible {
            opacity: 1;
        }
    }

    &__overlay-right {
        @include table-overlay(right);

        right: 0;

        &--visible {
            opacity: 1;
        }
    }
}
