@use "sass:map";

// ce specific breakpoints
// use map.merge to allow overriding single map values
$breakpoints: () !default;
$breakpoints: map.merge(
    (
        textpic-two-columns-small-asset: md,
        textpic-two-columns-large-asset: sm,
        textmedia-two-columns-small-asset: md,
        textmedia-two-columns-large-asset: sm,
    ),
    $breakpoints
);
