@use 'sass:map';
@use 'breakpoints';

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @include breakpoints.loop using ($args) {
        max-width: map.get($args, 'container-width');

        $screen-width: map.get($args, 'screen-width');

        @if $screen-width != 0 {
            &--large {
                max-width: $screen-width;
            }
        }
    }
}
