@use 'sass:map';
@use 'breakpoints';

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @include breakpoints.loop using ($args) {
        max-width: map.get($args, 'container-width');

        &--large {
            $max-width: map.get($args, 'screen-width');

            @if $max-width == 0 {
                $max-width: 100%;
            }

            max-width: $max-width;
        }
    }

    @each $name, $container-width in breakpoints.$container-widths {
        @include breakpoints.up($name) {
            &--max-width-#{$name} {
                max-width: $container-width;
            }

            &--max-width-#{$name}#{&}--large {
                max-width: map.get(breakpoints.$screen-widths, $name);
            }
        }
    }
}
