$frame-spaces: (
    extra-small: 0.5rem,
    small: 1rem,
    medium: 2rem,
    large: 4rem,
    extra-large: 8rem,
) !default;
$table-overlay-width: 4rem !default;
$image-gallery-height: 12rem !default;
$image-gallery-scrollbar-height: 0.25rem !default;
$image-gallery-slide-navigation-height: 12rem !default;
