@mixin hover($show-hover-none: false) {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @if $show-hover-none {
        @media (hover: none) {
            @content;
        }
    }
}

@mixin padding-x($value) {
    padding-left: $value;
    padding-right: $value;
}

@mixin padding-y($value) {
    padding-top: $value;
    padding-bottom: $value;
}

@mixin margin-x($value) {
    margin-left: $value;
    margin-right: $value;
}

@mixin margin-y($value) {
    margin-top: $value;
    margin-bottom: $value;
}
