$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
) !default;
$container-max-widths: (
    xs: 100%,
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
) !default;
$frame-spaces: (
    extra-small: 0.5rem,
    small: 1rem,
    medium: 2rem,
    large: 4rem,
    extra-large: 8rem,
) !default;
$color-background: #fff !default;

// colors used for T3Background
$color-primary: #607d8b !default;
$color-secondary: #009688 !default;
$color-accent: #fdd835 !default;
$color-white: #fff !default;
$color-black: #000 !default;

// font colors for background colors
$color-font-primary: #fff !default;
$color-font-secondary: #000 !default;
$color-font-accent: #000 !default;
$color-font-white: #000 !default;
$color-font-black: #fff !default;

// color used for input errors
$color-error: #b3261e !default;

// background colors for modals
$color-modal-background: rgba(0 0 0 / 50%);
$color-image-gallery-background: rgba(0 0 0 / 90%);

// transition durations
$transition-duration-accordion: 0.5s !default;
$transition-duration-input-error: 0.5s !default;
$transition-duration-select: 0.5s !default;
$transition-duration-menu-change: 0.5s !default;
$transition-duration-menu-collapse: 0.5s !default;
$transition-duration-table-overlay: 0.5s !default;
$transition-duration-tabs: 0.5s !default;

// sizes
$table-overlay-width: 4rem !default;
$image-gallery-height: 12rem !default;
$image-gallery-scrollbar-height: 0.25rem !default;
$image-gallery-scrollbar-color: rgba(0 0 0 / 80%) !default;
$image-gallery-scrollbar-color-background: rgba(0 0 0 / 20%) !default;
$image-gallery-slide-navigation-height: 12rem !default;

// z-index
$z-index-header: 10 !default;
$z-index-sidebar: 20 !default;
$z-index-modal: 30 !default;
