.t3-ce-tabs {
    & > .t3-ce-header {
        padding: var(--ce-wrapper-padding-y) var(--ce-wrapper-padding-x);
    }

    .t3-tabs {
        &__link {
            padding: var(--ce-wrapper-padding-y) var(--ce-wrapper-padding-x);
        }

        &__content {
            padding: var(--ce-wrapper-padding-y) var(--ce-wrapper-padding-x);
        }
    }
}
