@use '../../../styles/variables' as *;

.ce-frame {
    box-sizing: border-box;
    $spaces: (
        "extra-small": var(--space-extra-small, 0.5rem),
        "small": var(--space-small, 1rem),
        "medium": var(--space-medium, 2rem),
        "large": var(--space-large, 4rem),
        "extra-large": var(--space-extra-large, 8rem),
    );

    @each $name, $value in $spaces {
        &--space-before-#{$name} {
            margin-top: $value;
        }
        &--space-after-#{$name} {
            margin-bottom: $value;
        }
        &--space-before-inside-#{$name} {
            padding-top: $value;
        }
        &--space-after-inside-#{$name} {
            padding-bottom: $value;
        }
    }
}
