.t3-ce-accordion {
    & > .t3-ce-header {
        padding: var(--ce-wrapper-padding-y) var(--ce-wrapper-padding-x);
    }

    .t3-accordion {
        &__link {
            padding: var(--ce-wrapper-padding-y) var(--ce-wrapper-padding-x);
        }

        &__content {
            padding: 0 var(--ce-wrapper-padding-x) var(--ce-wrapper-padding-y);
        }
    }
}
