@use "sass:map";
@use "breakpoints";
@use "variables";

:root {
    --container-width: #{variables.$container-width};
}

.container {
    width: var(--container-width);
    margin-right: auto;
    margin-left: auto;
}

@include breakpoints.loop using ($args) {
    .container {
        max-width: map.get($args, "container-max-width");
    }
}
