.ce-header {
    &__main {
        &--center {
            text-align: center;
        }

        &--right {
            text-align: right;
        }

        &--left {
            text-align: left;
        }
    }
}
