.ce-textpic {
    display: flex;
    flex-wrap: wrap;

    &__image {
        width: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }

        &--small {
            width: calc(1 / 3 * 100%);
        }
    }

    &__text {
        width: 50%;
        padding: var(--ce-wrapper-padding-y) var(--ce-wrapper-padding-x);
        box-sizing: border-box;

        &--large {
            width: calc(2 / 3 * 100%);
        }
    }
}
