.t3-ce-image {
    .t3-ce-header {
        padding: var(--ce-wrapper-padding-y) var(--ce-wrapper-padding-x);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}
