.ce-wrapper {
    padding-left: var(--ce-wrapper-padding-x);
    padding-right: var(--ce-wrapper-padding-x);
    padding-top: var(--ce-wrapper-padding-y);
    padding-bottom: var(--ce-wrapper-padding-y);
}
