.ce-structured-content {
    & > .ce-header {
        padding: var(--ce-wrapper-padding-y) var(--ce-wrapper-padding-x);
    }

    .r-tabs {
        &__link {
            padding: var(--ce-wrapper-padding-y) var(--ce-wrapper-padding-x);
        }

        &__contents {
            padding: var(--ce-wrapper-padding-y) var(--ce-wrapper-padding-x);
        }
    }

    .r-accordion {
        &__link {
            padding: var(--ce-wrapper-padding-y) var(--ce-wrapper-padding-x);
        }

        &__content {
            padding: 0 var(--ce-wrapper-padding-x) var(--ce-wrapper-padding-y);
        }
    }
}
