@use "../../../../styles/variables";

.ce-wrapper {
    padding: var(--ce-wrapper-padding-y) var(--ce-wrapper-padding-x)
        var(--ce-wrapper-padding-y) var(--ce-wrapper-padding-x);
}

:root {
    --ce-wrapper-padding-x: #{variables.$ce-wrapper-padding-x};
    --ce-wrapper-padding-y: #{variables.$ce-wrapper-padding-y};
}
