// These are default values for css variables.
// To override set css variable, for examples: 
// --container-width: 900px

$container-width: 800px;
$ce-frame-padding: 0.5rem 1rem;
$ce-wrapper-padding: $ce-frame-padding;
$color-primary: #6200EE;
$color-secondary: #03DAC6;
$color-accent: #B00020;