.t3-scroll-indicator {
    position: relative;

    &__viewport {
        overflow: auto;
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__content {
        display: inline-block;
        position: relative;
        min-width: 100%;
    }
}
