@forward '../../src/runtime/assets/styles/breakpoints.scss' with (
    $container-widths: (
        xs: calc(100% - 2rem),
        sm: 35rem,
        md: 47rem,
        lg: 58rem,
        xl: 68rem,
    ),
    $screen-widths: (
        xs: 0,
        sm: 36rem,
        md: 50rem,
        lg: 62rem,
        xl: 75rem,
    )
);
