@forward '../../src/runtime/assets/styles/variables.scss' with (
    $container-widths: (
        xs: calc(100% - 2rem),
        sm: 35rem,
        md: 47rem,
        lg: 58rem,
        xl: 68rem,
    ),
    $screen-widths: (
        xs: 0,
        sm: 36rem,
        md: 50rem,
        lg: 62rem,
        xl: 75rem,
    ),
    $container-padding-x: (
        xs: 1rem,
        sm: 2rem,
        md: 3rem,
        lg: 4rem,
        xl: 5rem,
    )
);
