name: Release

on:
  push:
    branches:
      - "main"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: remindgmbh/semantic-release-action@v2.2.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          node-version: 20
          npm-token: ${{ secrets.NPM_TOKEN }}
          type: github-npm
